.dialog {
    background: #ffffff;
    border:1px solid #000000;
}

.dialog-header {
    background: #dfdfdf;
    padding: 10px;
}

.dialog-body {
    padding: 10px;
}

.dialog-buttons {
    padding: 5px;
    margin-bottom: 0px;
    background: #dfdfdf;
}

.dialog-close {
    width:20px;
    height:20px;
    margin-top: auto;
    background: #FF0000;
    background: linear-gradient(45deg, transparent 45%,
        #d00 45%,
        #d00 55%,
        transparent 55%),
    linear-gradient(135deg, transparent 45%,
        #d00 45%,
        #d00 55%,
        transparent 55%),
    linear-gradient(#ffffff,#ffffff);
    border-radius: 5px;
    float: right;
    opacity: 0.8;
}

.dialog-close:hover {
    opacity: 1;
}